@page "/reporte2"
<br>
<br>
<h1 style="color:black;", FONT FACE="small fonts"><strong>Listado de Beneficios</strong></h1>
<img src="imgs/clientes.png" class="Backgroungclientes" alt="">
<div class="contenido-tabla-registro" style="margin: 1cm;">
    <a href="/menu"><i class="fas fa-arrow-left"></i></a>
    <h1 style="color: black;">Datos Relevantes</h1>
    <table style="width: 100%; height:auto;" class="Tabla-Presentacion">
        <thead>
            <tr>
                <th>Codigo Vehiculo</th>
                <th>Cantidad de reservaciones</th>
                <th>Monto Total Generado</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Reservacion v in Getreser())
            {
                <tr class="Tabla-Pie">
                    <td>@v.VehiculoId</td>
                    <td>@v.VehiculoId</td>
                    <td>@v.MontoTotal</td>

                </tr>
            }
        </tbody>

    </table>

</div>

@code{
    List<Reservacion> Getreser()=>new SistemaDbContext().Reservaciones.ToList();
}