@page "/Reporte-Deudas-Clientes"
@attribute [Authorize]


<img src="imgs/clients.png" class="Backgroundclientes" alt="">

<div class="contenido-tabla-registro" style="margin: 1cm;">
    <a href="/listado-reportes"  class="boton-atras"> <i class="fas fa-arrow-left"></i></a>
    <br>
    <br>
    <br>
    <h1 style="color: black;">Clientes con Deudas</h1>

    @if(clientes == null)
    {
        <Cargando></Cargando>
    }

    else
    {
        <table style="width:100%; height:auto;" class="Tabla-Monto_Debido">
            <thead>
                <tr class="Tabla-Cabeza">
                    <th>Cedula</th>
                    <th colspan="2">Nombre</th>
                    <th>Deuda Total</th>
                </tr>
            </thead>
            <tbody>

                @foreach (Cliente c in clientesConDeuda)
                {
                    <tr class="Tabla-Pie">
                        <td>@c.Cedula</td>
                        <td colspan="2">@c.NombreCompleto</td>
                        <td>@c.Deuda.ToString("C0")</td>
                    </tr>
                }

            </tbody>
        </table>
    }

</div>

@code{
    private List<Cliente> clientes = null;
    private List<Cliente> clientesConDeuda = null;

    protected override async Task OnInitializedAsync(){
        clientes = await sc.Clientes.Include("Reservaciones").ToListAsync();
        clientesConDeuda = clientes.Where(x => x.Deuda > 0).OrderByDescending(x => x.Deuda).ToList();
    }
}
