@page
@using Microsoft.AspNetCore.Components.Forms
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "/Pages/Shared/_NewLayout.cshtml";
}

<div class="cuerpo">
    <div class="container contenido-registro">
    <a href="/menu">  <i class="fas fa-backspace"></i></a>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data" class="FormularioRegistro">
            <h2>Registro de usuarios</h2>
            <div class="inputsss">
                    <input asp-for="Input.Nombre" placeholder="Nombre" />
                    <input asp-for="Input.Apellido" placeholder="Apellido" />
                    <input asp-for="Input.Cedula" placeholder="Cedula" />
                    <input asp-for="Input.Email" placeholder="Correo Electronico" />
                    <input asp-for="Input.Password" placeholder="Contraseña" />
                    <input asp-for="Input.ConfirmPassword" placeholder="Repita la Contraseña" />
                    <input asp-for="Input.Foto" accept="image/png, image/jpeg" />
            </div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="Botones-Registro">
                <button type="submit">Agregar</button>
                <a href="/UsersRegistrados"><button  id="BtnVerUsuarios">Ver usuarios</button></a>
            </div>
        </form>

        <img src="imgs/registro.png" alt="">
    </div>


</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
