@page "/menu"

<div class="cuerpo-menu">
    <img src="imgs/clients.png" alt="">
    <div class="user-registrado">
        Rody Castro Cuello
        <img src="imgs/none.png" alt="">
    </div>
    <div class="container">
        <div class="area-menu">
            <a href="/registro">
                <i class="fas fa-user-lock"></i>
                <h2>Usuarios</h2>
            </a>
            <a href="">
                <i class="fas fa-car"></i>
                <h2>Agregar vehiculos</h2>
            </a>
            <a href="/listado-clientes">
                <i class="fas fa-user-friends"></i>
                <h2>Listado Clientes</h2>
            </a>
            <a href="">
                <i class="fas fa-user-plus"></i>
                <h2>Agregar clientes</h2>
            </a>
            <a href="">
                <i class="fas fa-shopping-cart"></i>
                <h2>Gestionar reserva</h2>
            </a>
            <a href="">
            <i class="fas fa-credit-card"></i>
                <h2>Cobros</h2>
            </a>
            <a href="">
                <i class="fas fa-shopping-cart"></i>
                <h2>Reportes</h2>
            </a>
            <a href="">
                <i class="fas fa-shopping-cart"></i>
                <h2>Vehiculos</h2>
            </a>
            <a href="">
                <i class="fas fa-shopping-cart"></i>
                <h2>Vehiculos</h2>
            </a>
            <a href="">
                <i class="fas fa-shopping-cart"></i>
                <h2>Vehiculos</h2>
            </a>
        </div>
    </div>
</div>