@page "/menu"

<div class="cuerpo-menu">
    <img src="imgs/carpro.jpg" alt="">
    <div class="user-registrado">
       Rody Castro Cuello
        <img src="imgs/none.png" alt="">
    </div>
    <div class="container scroll">
        <div class="area-menu">
            <a href="">
                <i class="fas fa-user-plus"></i>
                <h2>Registro</h2>
            </a>
            <a href="">
                <i class="fas fa-car"></i>
                <h2>Agregar</h2>
            </a>
            <a href="">
                <i class="fas fa-user-friends"></i>
                <h2>Clientes</h2>
            </a>
            <a href="">
                <i class="fas fa-shopping-cart"></i>
                <h2>Cobros</h2>
            </a>
            <a href="">
                <i class="fas fa-shopping-cart"></i>
                <h2>Vehiculos</h2>
            </a>
            <a href="">
                <i class="fas fa-shopping-cart"></i>
                <h2>Vehiculos</h2>
            </a>
            <a href="">
                <i class="fas fa-shopping-cart"></i>
                <h2>Vehiculos</h2>
            </a>
            <a href="">
                <i class="fas fa-shopping-cart"></i>
                <h2>Vehiculos</h2>
            </a>
            <a href="">
                <i class="fas fa-shopping-cart"></i>
                <h2>Vehiculos</h2>
            </a>
            <a href="">
                <i class="fas fa-shopping-cart"></i>
                <h2>Vehiculos</h2>
            </a>
        </div>
    </div>
</div>