@page "/registro";


<div class="cuerpo">
    <div class="container contenido-registro">
        <form action="" class="FormularioRegistro">
            <h2>Registro de usuarios</h2>
            <div class="inputsss">
                <input type="text" placeholder="Nombre">
                <input type="text" placeholder="Apellido">
                <input type="text" placeholder="Cedula">
                <input type="text" placeholder="Usuario">
                <input type="text" placeholder="Contraseña">
            </div>
            <div class="Botones-Registro">
                <button type="submit">Agregar</button>
                <button type="submit" id="BtnVerUsuarios">Ver usuarios</button>
            </div>
        </form>

        <img src="imgs/registro.png" alt="">
    </div>


    <div class="tabla-registro" id="tablamodal">
        <i class="fas fa-times"></i>
        <div class="contenido-tabla-registro">
            <table>
                <thead>
                    <tr>
                        <td>Nombre</td>
                        <td>Apellido</td>
                        <td>Cedula</td>
                        <td>Usuario</td>
                        <td>Contraseña</td>
                        <td>Acciones</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                        <td>
                        <i class="fas fa-user-minus btn btn-info"></i>
                        <i class="fas fa-pen-alt btn btn-danger"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                        <td>
                            <a href="" class="btn btn-info"><i class="fas fa-user-minus"></i></a>
                            <a href="" class="btn btn-danger"><i class="fas fa-pen-alt"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>
