@page "/registro";


<div class="cuerpo">
    <div class="container contenido-registro">
    <a href="/menu">  <i class="fas fa-backspace"></i></a>
        <form action="" class="FormularioRegistro">
            <h2>Registro de usuarios</h2>
            <div class="inputsss">
                <input type="text" placeholder="Nombre">
                <input type="text" placeholder="Apellido">
                <input type="text" placeholder="Cedula">
                <input type="text" placeholder="Correo electronico">
                <input type="text" placeholder="Usuario">
                <input type="text" placeholder="Contraseña">
            </div>
            <div class="Botones-Registro">
                <button type="submit">Agregar</button>
                <a href="/UsersRegistrados"><button  id="BtnVerUsuarios">Ver usuarios</button></a>
            </div>
        </form>

        <img src="imgs/registro.png" alt="">
    </div>


</div>
