@page "/UsersRegistrados"


<div class="tabla-registro" id="tablamodal">
 <a href="/registro">  <i class="fas fa-backspace"></i></a>
    <div class="contenido-tabla-registro">
        <h2>Usuarios registrados</h2>
        <table>
            <thead>
                <tr class="moderno-tr">
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>Cedula</td>
                    <td>Usuario</td>
                    <td>Contraseña</td>
                    <td>Acciones</td>
                </tr>
            </thead>
            <tbody>
                <tr class="moderno-tr">
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                     <td>
                        <a href="" class="btn btn-danger"><i class="fas fa-user-minus"></i></a>
                        <a href="" class="btn btn-info"><i class="fas fa-pen-alt"></i></a>
                    </td>
                </tr>
                <tr class="moderno-tr">
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                    <td>data</td>
                     <td>
                        <a href="" class="btn btn-danger"><i class="fas fa-user-minus"></i></a>
                        <a href="" class="btn btn-info"><i class="fas fa-pen-alt"></i></a>
                    </td>
                </tr>
        
            </tbody>
        </table>
    </div>
</div>