@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> um

<AuthorizeView>
    <Authorized>
        @{
            var user = um.GetUserAsync(context.User).Result;

            <p style="margin: 0;">@user.Email</p>
            <img src="@user.Foto" alt="">
        }
        @* <a href="Identity/Account/Manage">@context.User.Identity.Name</a> *@
        @* <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form> *@
    </Authorized>
    @* <NotAuthorized>
        <a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized> *@
</AuthorizeView>
